

.hero-text {
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:cadetblue;
}

.bgimage {
    height: 100vh;
    background-image: url("images/coolfrog.jpg");
    background-size:auto;
    position: relative;
}

.hero-title {
    font-size: 4 rem;
}

.hero-description {
    font-size: 2 rem;
}

.navbar-inner {
    background: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    display: table-cell;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;

  }
  
  .about-section {
    padding: 50px;
    text-align: justify;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .light-mode {
    background: lightgreen;
    color: black;
  }

  .dark-mode {
    background: rgb(28, 29, 90);
    color: rgb(154, 163, 191);
  }

h1 {
  text-align: center;
}

h2 {
  padding: 10px;;
}
